/* FONT */
@font-face {
	font-family: 'Roboto', sans-serif;
}
/* END FONT */

/* FOOTER */
.content {
	min-height: calc(100vh - 70px);
	padding: 40px 40px 0 40px;
}

.footer {
	
	height: 50px;
}
/* END FOOTER */

/* NAVABAR */
.navbar {
	font-family: 'Roboto', sans-serif;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}

.flagDrop .dropdown-menu {
	background: transparent;
	border: transparent;
}
/* END NAVABAR */
.card-employee {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 2%;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}

.card-employee h3 span{
		color: #0080ff;
}

@media all and (max-device-width: 480px) {
	.card-employee {
		height: 60%;
		box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
		overflow: scroll;
	}
}

@media only screen and (max-device-width: 768px) {
	.card-employee {
		height: 60%;
		box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
		overflow: scroll;
	}
}